<html>
  <head>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <table>
      <tr>
        <th>Product SKU</th>
        <th>Product Name</th>
        <th>Edit</th>
      </tr>
      <% data.forEach(prod => { %>
      <tr>
        <td><%= prod.sku %></td>
        <td><%= prod.product_name %></td>
        <td><button>tbd</button></td>
      </tr>

      <% }) %>
  </body>
</html>
