<html>
  <head>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <table>
      <% catData.map((cat) => { %>
      <tr>
        <td><%= cat.id %></td>
        <td><%= cat.category_name %></td>
      </tr>

      <% }) %>
    </table>
  </body>
</html>
