<html>
  <head>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <table>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
      <% Object.entries(data).forEach(([key, value]) => { %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
